
footer{
    background-color: $greyblack;
    @media (min-width:1280px) {
        max-width: 1980px;
        margin: auto;
        width: 100%;
    }
    padding: 1rem;
    color:$white;
    & h2{
        font-family: 'Shrikhand' ,"sans-serif";

    }
    & p{
        display: flex;
        align-items: center;
        gap: 1rem;
        & i{
            width: 10px;
            height: 10px;
        }
    }
    & a:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}