$purple:#9356DC;
$white:#FFFFFF;
$aqua:#99E2D0;
$light-grey: #F6F6F6;
$pink: #FF79DA;
$black: #000000;
$grey:#808080;
$greyblack:#353535;
$dimgrey: #696969;
$darkgray :#A9A9A9;
$silver:#C0C0C0;
$gainsboro:#DCDCDC;