@mixin anim-vig {
    animation: vignette_anime 2500ms;
    animation-timing-function: cubic-bezier(.78,.82,.34,.94);
    transform: scale(0);
    transform-origin: bottom;
    animation-fill-mode: both;
}